<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xavier's School For Gifted Youngsters Libarary | Books</title>
    <link rel="icon" href="/img/logo_gold.png">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/form.css">
    <link rel="stylesheet" type="text/css" href="css/books.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
    <script src="/semantic/semantic-ui/dist/components/form.js"></script>
    <script src="/semantic/semantic-ui/dist/components/transition.js"></script>
    <script src="/semantic/semantic-ui/dist/semantic.min.js"></script>
    <script src="js/tablesort.js"></script>
    <script src="/semantic/semantic-ui/dist/components/visibility.js"></script>
    <script src="/semantic/semantic-ui/dist/components/sidebar.js"></script>
    <script src="/semantic/semantic-ui/dist/components/transition.js"></script>
    <script src="js/books.js"></script>
</head>
<body>
    <!-- Following Menu -->
    <!-- <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Books</a>
            <a class="item">Profile</a>
            <a class="item">Login</a>
        </div>
    </div> -->

    <!-- Sidebar Menu -->
    {{!-- <div class="ui vertical inverted sidebar menu">
        <a class="item">Books</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div> --}}

    <div class="container-main">
        <div class="ui vertical masthead center aligned segment">
            <div class="ui mobile stackable grid" style="width: inherit;">
                <div class="left aligned row" style="width: fit-content;">
                    <div class="four wide left aligned computer only column">
                        <div class="ui center aligned page image">
                            <img class="center" src="/img/logo_gold_big.png" alt="Logo Failed To Load"
                                style="width: 12em; height: 12em; margin-bottom: -8em; margin-left: 10em; margin-top: 0em;">
                        </div>
                    </div>
                    <div class="ui container">
                        <div class="ui large inverted secondary pointing six wide column menu"
                            style="border-color: transparent; background-color: transparent;">
                            <a class="toc item">
                                <i class="sidebar icon"></i>
                            </a>
                            <div class="ui center aligned container" style="width: min-content;">
                                <a class="active item">Books</a>
                                {{!-- <a class="item">Profile</a> --}}
                                <a href="{{link}}" class="item">{{text}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container" style="margin-top: 5%; width: 70%;">
        <table class="ui sortable celled table" id="data-table">
            <thead class="sticky">
                <tr>
                    <th class="sorted ascending" id="table-header">Book Title</th>
                    <th id="table-header">Author</th>
                    <th class="" id="table-header">Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each books}}
                <tr>
                    <td class="selectable"><a href="http://" id="book-title">{{title}}</a></td>
                    <td class="selectable"><a href="http://" id="book-author">{{author}}</a></td>
                    <td>Reserved</td>
                </tr>
                {{/each}}
                <tr>
                    <td class="selectable"><a href="http://" id="book-title">The Realms of the Gods</a>
                    </td>
                    <td class="selectable"><a href="http://" id="book-author">Tamora Pierce</a></td>
                    <td class="positive">Available</td>
                </tr>
                <tr>
                    <td class="selectable" id="book-title"><a href="http://" id="book-title">Savor the Moment</a></td>
                    <td class="selectable"><a href="http://" id="book-author">Nora Roberts</a></td>
                    <td class="positive">Available</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>