<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xavier's School For Gifted Youngsters Libarary | Error Page</title>
    <link rel="icon" href="/public/logo_gold.png">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/form.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/node_modules/semantic-ui/dist/components/form.js"></script>
    <script src="/node_modules/semantic-ui/dist/components/transition.js"></script>
    <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>
    <style type="text/css">
        body{
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="ui center aligned grid">
        <div class="row" style="margin-top: 5%">            
            <img src="/public/oops.png" alt="Image Failed To Load">
        </div>
        <div class="row">
            <div class="ui big button" id="button-return" onclick="window.location.href = '/views/books.html'"
                style="background-color: rgb(200, 173, 80)">Back To Home</div>
        </div>
    </div>
</body>
</html>