<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xavier's School For Gifted Youngsters Libarary | Profile</title>
    <link rel="icon" href="/public/logo_gold.png">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/components/form.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/node_modules/semantic-ui/dist/components/form.js"></script>
    <script src="/node_modules/semantic-ui/dist/components/transition.js"></script>
    <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>
    <style type="text/css">
        html,body {
            background-color: white;
        }

        ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        }

        ::-webkit-scrollbar-track-piece {
        background-color: rgb(0, 0, 0);
        }

        ::-webkit-scrollbar-thumb:vertical {
        /* height: 10px; */
        background-color: rgba(184, 165, 56, 0.507);
        border-radius: 10px;
        }

        .hidden.menu {
            display: none;
        }

        .container-main {
            background-image: linear-gradient(0deg, rgba(56, 56, 56, 0.6), rgba(56, 56, 56, 0.6)),
            url("/public/backdrop_long.jpg");
            background-repeat: no-repeat;
            background-position: center;
            /* -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
            filter: url(#drop-shadow);
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')"; */
            box-shadow: 2px 2px 4px 1px rgb(153, 153, 153);
        }

        .borrowed_booktitle {
            cursor: pointer;
        }

        .masthead.segment {
            min-height: 200px;
            padding: 1em 0em;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button+h3,
        .ui.vertical.stripe p+h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe .floated.image {
            clear: both;
        }

        .ui.vertical.stripe p {
            font-size: 1.33em;
        }

        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }

        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }

            .masthead.segment {
                min-height: 50px;
            }

            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>
    <script src="assets/library/jquery.min.js"></script>
    <script src="../dist/components/visibility.js"></script>
    <script src="../dist/components/sidebar.js"></script>
    <script src="../dist/components/transition.js"></script>
    <script>
        $(document)
        .ready(function() {

        // fix menu when passed
        $('.masthead')
        .visibility({
        once: false,
        onBottomPassed: function() {
        $('.fixed.menu').transition('fade in');
        },
        onBottomPassedReverse: function() {
        $('.fixed.menu').transition('fade out');
        }
        })
        ;

        // create sidebar and attach to menu open
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item');
        
        // tab functionality
        $('.tabular.menu .item').tab();
        $('.tabular.menu .item').click(function(){
            $('.tabular.menu .item').removeClass("active");
            $('.tabular.menu .item'     ).css({color: "black"});
            $(this).addClass("active");
            $(this).css({color: "rgb(184, 164, 56)"});
            $(this).tab.context('.tabular.menu').siblings('.active').removeClass('active');
            $('.tabular.menu .item').tab({
            context : '.tabular.menu',
            history : true,
            historyType : 'state',
            // base url for all other path changes
            // path : '/my/base/url',
            });
        });

        //Change password show modal
        $('#change-password').on('click', function() { 
            // $('.field').removeClass('error')
            // $('#old-password').val('')
            // $('#new-password').val('')
            // $('#confirm-new-password').val('')

            //Resets form input fields from data values
            $('.ui.form').trigger("reset");
            //Resets form error messages and field styles
            $('.ui.form .field.error').removeClass( "error" );
            $('.ui.form.error').removeClass( "error" );
            $('#modal-changepassword').modal('setting', 'transition', 'vertical flip')
            $('#modal-changepassword').modal('show')
        });

        $('#form-changepassword')
             .form({
                 fields: {
                     new_password: {
                        identifier: 'new_password',
                        rules: [{
                                type: 'empty',
                                prompt: 'Please enter your password'
                            },
                            {
                                type: 'length[6]',
                                prompt: 'Your password must be at least 6 characters'
                            },
                            {
                                type: 'regExp',
                                value: /.*[A-Z]/,
                                prompt: 'Your password must contain at least one uppercase letter [A-Z]'
                            },
                            {
                                type: 'regExp',
                                value: /.*[0-9]/,
                                prompt: 'Your password must contain at least one number [0-9]'
                            },
                            {
                                type: 'regExp',
                                value: /.*[!@#\$%\^<>\&*\)\(+=._-]/,
                                prompt: 'Your password must contain at least one special character [!@#$%^<>&*()+=._-]'
                            }
                        ]
                    },
                    confirm_new_password: {
                        identifier: 'confirm_new_password',
                        rules: [{
                                type: 'empty',
                                prompt: 'Please confirm your password'
                            },
                            {
                                type: 'match[new_password]',
                                prompt: 'Your password does not match'
                            }
                        ]
                    },
                 }
             });

             //Borrow Book show modal
             $('.borrowed_booktitle').on('click', function() {
             $('#modal-borrowedbook').modal('setting', 'transition', 'vertical flip')
             $('#modal-borrowedbook').modal('show')
             });
        
        });
    </script>
</head>
<body>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <!-- <div class="right menu">
                <div class="item">
                    <a class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div> -->
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Books</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>

    <!-- Page Contents -->
    <div class="container-main">
        <div class="ui vertical masthead center aligned segment">
            <div class="ui mobile two column stackable grid" style="width: inherit;">
                <div class="left aligned row" style="width: fit-content;">
                    <div class="four wide left aligned computer only column">
                        <div class="ui center aligned page image">
                            <img class="center" src="/public/logo_gold_big.png" alt="Logo Failed To Load"
                                style="width: 12em; height: 12em; margin-bottom: -8em; margin-left: 10em; margin-top: 0em;">
                        </div>
                    </div>
                    <div class="ui container">
                        <div class="ui large inverted secondary pointing six wide column menu"
                            style="border-color: transparent; background-color: transparent;">
                            <a class="toc item">
                                <i class="sidebar icon"></i>
                            </a>
                            <div class="ui center aligned container" style="width: min-content;">
                                <a class="item">Books</a>
                                <a class="active item">Profile</a>
                                <a class="item">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui two column center aligned stackable grid" style="margin-top: 5%;">
        <div class="four wide column">
            <h1 class="ui huge center aligned icon header">
                <i class="circular user icon"></i>
                <h1 class="username" id="user-name">Jane Doe</h1>
            </h1>
            <div class="row">
                <i class="settings icon" style="color: rgb(184, 164, 56);"></i>
                <a id="change-password" style="color: rgb(184, 164, 56); cursor: pointer;">Change Password</a>
            </div>
        </div>
        <div class="ten wide column">
            <div class="row">
                <div class="ui container" style="height: 420px;">
                    <h3 class="ui large left aligned header">Borrow History</h3>
                    <div class="ui container">
                        <div class="ui top attached tabular menu" style="display: flex;">
                            <div class="active item" id="tab-one" data-tab="current"
                                style="color: rgb(184, 164, 56); margin-left: auto; width:50%; justify-content: center;">Currently Borrowed Books
                            </div>
                            <div class="item" id="tab-two" data-tab="previous"
                                style="margin-right: auto; width:50%;  justify-content: center">Previous Records</div>
                        </div>
                        <div class="ui bottom attached active tab segment" data-tab="current"
                            style="height: 300px; overflow-y: scroll;">
                            <!-- insert for loop here for the books -->
                            <div class="ui container padded segment" id="tab-content-one">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid" id="borrowed-book">
                                    <div class="ten wide center aligned middle aligned column" id="borrowed-book">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="ui bottom attached tab segment" id="tab-content-two" data-tab="previous"
                            style="height: 300px; overflow-y: scroll;">
                            <!-- insert for loop here for the books -->
                            <div class="ui container padded segment" id="returned-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 id="returned-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="returned-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ui container" style="height: 420px;">
                    <h3 class="ui large left aligned header">My Reviews</h3>
                    <div class="ui container padded segment" style="height: 300px; overflow-y: scroll;">
                        <div class="ui container padded segment">
                            <div class="ui divided two column stackable grid">
                                <div class="four wide center aligned middle aligned column">
                                    <h4><a class="booktitle" id="reviewlink-booktitle" href="">Book Title</a></h4>
                                </div>
                                <div class="twelve wide column">
                                    <div class="row" id="date-posted" style="font-weight: lighter; margin-bottom: 0.5em;">04/29/2020</div>
                                    <div class="row" id="book-review">This is killing me semantic ui is not a joke why is it
                                        testing my patience???????!!! Stackoverflow thank you so much bc the
                                        documentation
                                        is not really all that helpful T_T</div>
                                </div>
                            </div>
                        </div>

                        <div class="ui container padded segment">
                            <div class="ui divided two column stackable grid">
                                <div class="four wide center aligned middle aligned column">
                                    <h4><a class="booktitle" id="reviewlink-booktitle" href="">Book Title</a></h4>
                                </div>
                                <div class="twelve wide column">
                                    <div class="row" id="date-posted"
                                        style="font-weight: lighter; margin-bottom: 0.5em;">04/29/2020</div>
                                    <div class="row" id="book-review">Why am I such a procrastinator...</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="ui tiny scrolling modal" id="modal-changepassword">
        <i class="close icon"></i>
        <div class="header">
            Change Password
        </div>
        <div class="content">
            <form class="ui large form error" id="form-changepassword">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="old-password" type="password" name="old_password" placeholder="Enter Old Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="new-password" type="password" name="new_password" placeholder="Enter New Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="confirm-new-password" type="password" name="confirm_new_password"
                            placeholder="Confirm New Password">
                    </div>
                </div>
                <div class="ui fluid large yellow submit button field" id="button-changepassword"
                    style="background: rgb(184, 164, 56);">Change
                    Password</div>
                <div class="ui error message" id="warnings"></div>
            </form>
        </div>
    </div>

    <!-- Return Borrowed Book Modal -->
    <div class="ui tiny scrolling modal" id="modal-borrowedbook">
        <i class="close icon"></i>
        <div class="header">
            Borrowed Book Details
        </div>
        <div class="content">
            <div class="ui two column center aligned stackable grid">
                <div class="four wide center aligned middle aligned column">
                    <!-- <h1 class="ui huge center aligned icon container" style="margin-top: 1em;"> -->
                    <div class="row">
                        <div class="ui icon container"
                            style="border-width: 2px; border-color: black; margin-bottom: 4em;">
                            <i class="massive middle aligned book icon"></i>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui padded container">
                        <h1 class="ui left aligned header" style="margin-left: auto;">
                            <a class="booktitle" id="borrowedbookdetails-title" href="">Book Title</a></h1>
                        <div class="ui two column grid">
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Author:</div>
                                <div class="ten wide left aligned column" id="borrowedbookdetails-author" style="font-weight: bolder;">
                                    John Doe</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">User:</div>
                                <div class="ten wide left aligned column" id="borrowedbookdetails-user"
                                    style="font-weight: bolder;">Jane Doe</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Date Borrowed:</div>
                                <div class="ten wide left aligned column" id="borrowedbookdetails-dateborrowed"
                                    style="font-weight: bolder;">04/29/2020</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Date Due:</div>
                                <div class="ten wide left aligned column" id="borrowedbookdetails-datedue"
                                    style="font-weight: bolder;">05/29/2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui grey basic cancel button">
                <i class="angle left icon"></i>
                Back
            </div>
            <div class="ui primary ok right button" id="button-returnbook">
                <i class="archive icon"></i>
                Return
            </div>
        </div>
    </div>
</body>
</html>