<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xavier's School For Gifted Youngsters Libarary | Profile</title>
    <link rel="icon" href="/img/logo_gold.png">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/form.css">
    <link rel="stylesheet" type="text/css" href="/css/student-teacher_profile.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/semantic/semantic-ui/dist/components/form.js"></script>
    <script src="/semantic/semantic-ui/dist/components/transition.js"></script>
    <script src="/semantic/semantic-ui/dist/semantic.min.js"></script>
    <script src="assets/library/jquery.min.js"></script>
    <script src="/semantic/semantic-ui/dist/components/visibility.js"></script>
    <script src="/semantic/semantic-ui/dist/components/sidebar.js"></script>
    <script src="/semantic/semantic-ui/dist/components/transition.js"></script>
    <script src="/js/student-teacher_profile.js"></script>
    <script src={{timeout}}></script>
</head>
<body>
    <!-- Following Menu -->
    <!-- <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
        </div>
    </div> -->

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Books</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>

    <!-- Page Contents -->
    <div class="container-main">
        <div class="ui vertical masthead center aligned segment">
            <div class="ui mobile two column stackable grid" style="width: inherit;">
                <div class="left aligned row" style="width: fit-content;">
                    <div class="four wide left aligned computer only column">
                        <div class="ui center aligned page image">
                            <img class="center" src="/img/logo_gold_big.png" alt="Logo Failed To Load"
                                style="width: 12em; height: 12em; margin-bottom: -8em; margin-left: 10em; margin-top: 0em;">
                        </div>
                    </div>
                    <div class="ui container">
                        <div class="ui large inverted secondary pointing six wide column menu"
                            style="border-color: transparent; background-color: transparent;">
                            <a class="toc item">
                                <i class="sidebar icon"></i>
                            </a>
                            <div class="ui center aligned container" style="width: min-content;">
                                <a class="item">Books</a>
                                <a class="active item">Profile</a>
                                <a class="item">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui two column center aligned stackable grid" style="margin-top: 5%;">
        <div class="four wide column">
            <h1 class="ui huge center aligned icon header">
                <i class="circular user icon"></i>
                <h1 class="username" id="user-name">Jane Doe</h1>
            </h1>
            <div class="row">
                <i class="settings icon" style="color: rgb(184, 164, 56);"></i>
                <a id="change-password" style="color: rgb(184, 164, 56); cursor: pointer;">Change Password</a>
            </div>
        </div>
        <div class="ten wide column">
            <div class="row">
                <div class="ui container" style="height: 420px;">
                    <h3 class="ui large left aligned header">Borrow History</h3>
                    <div class="ui container">
                        <div class="ui top attached tabular menu" style="display: flex;">
                            <div class="active item" id="tab-one" data-tab="current"
                                style="color: rgb(184, 164, 56); margin-left: auto; width:50%; justify-content: center;">Currently Borrowed Books
                            </div>
                            <div class="item" id="tab-two" data-tab="previous"
                                style="margin-right: auto; width:50%;  justify-content: center">Previous Records</div>
                        </div>
                        <div class="ui bottom attached active tab segment" data-tab="current"
                            style="height: 300px; overflow-y: scroll;">
                            <!-- insert for loop here for the books -->
                            <div class="ui container padded segment" id="tab-content-one">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid" id="borrowed-book">
                                    <div class="ten wide center aligned middle aligned column" id="borrowed-book">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                            <div class="ui container padded segment" id="borrowed-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 class="borrowed_booktitle" id="borrowed-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="borrowed-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="ui bottom attached tab segment" id="tab-content-two" data-tab="previous"
                            style="height: 300px; overflow-y: scroll;">
                            <!-- insert for loop here for the books -->
                            <div class="ui container padded segment" id="returned-book">
                                <div class="ui divided two column stackable grid">
                                    <div class="ten wide center aligned middle aligned column">
                                        <div class="row" id="date-borrowed"
                                            style="font-weight: lighter; font-size: smaller; margin-bottom: 0.5em;">
                                            04/29/2020</div>
                                        <div class="row">
                                            <h4 id="returned-booktitle">Book Title</h4>
                                        </div>
                                    </div>
                                    <div class="six wide center aligned middle aligned column" id="returned-bookauthor">
                                        Author</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ui container" style="height: 420px;">
                    <h3 class="ui large left aligned header">My Reviews</h3>
                    <div class="ui container padded segment" style="height: 300px; overflow-y: scroll;">
                        <div class="ui container padded segment">
                            <div class="ui divided two column stackable grid">
                                <div class="four wide center aligned middle aligned column">
                                    <h4><a class="booktitle" id="reviewlink-booktitle" href="">Book Title</a></h4>
                                </div>
                                <div class="twelve wide column">
                                    <div class="row" id="date-posted" style="font-weight: lighter; margin-bottom: 0.5em;">04/29/2020</div>
                                    <div class="row" id="book-review">This is killing me semantic ui is not a joke why is it
                                        testing my patience???????!!! Stackoverflow thank you so much bc the
                                        documentation
                                        is not really all that helpful T_T</div>
                                </div>
                            </div>
                        </div>

                        <div class="ui container padded segment">
                            <div class="ui divided two column stackable grid">
                                <div class="four wide center aligned middle aligned column">
                                    <h4><a class="booktitle" id="reviewlink-booktitle" href="">Book Title</a></h4>
                                </div>
                                <div class="twelve wide column">
                                    <div class="row" id="date-posted"
                                        style="font-weight: lighter; margin-bottom: 0.5em;">04/29/2020</div>
                                    <div class="row" id="book-review">Why am I such a procrastinator...</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="ui tiny scrolling modal" id="modal-changepassword">
        <i class="close icon"></i>
        <div class="header">
            Change Password
        </div>
        <div class="content">
            <form class="ui large form error" id="form-changepassword">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="old-password" type="password" name="old_password" placeholder="Enter Old Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="new-password" type="password" name="new_password" placeholder="Enter New Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="confirm-new-password" type="password" name="confirm_new_password"
                            placeholder="Confirm New Password">
                    </div>
                </div>
                <div class="ui fluid large yellow submit button field" id="button-changepassword"
                    style="background: rgb(184, 164, 56);">Change
                    Password</div>
                <div class="ui error message" id="warnings"></div>
            </form>
        </div>
    </div>

    <!-- Return Borrowed Book Modal -->
    <div class="ui tiny scrolling modal" id="modal-borrowedbook">
        <i class="close icon"></i>
        <div class="header">
            Borrowed Book Details
        </div>
        <div class="content">
            <div class="ui two column center aligned stackable grid">
                <div class="four wide center aligned middle aligned column">
                    <!-- <h1 class="ui huge center aligned icon container" style="margin-top: 1em;"> -->
                    <div class="row">
                        <div class="ui icon container"
                            style="border-width: 2px; border-color: black; margin-bottom: 4em;">
                            <i class="massive middle aligned book icon"></i>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui padded container">
                        <h1 class="ui left aligned header" style="margin-left: auto;">
                            <a class="booktitle" id="borrowedbookdetails-title" href="">Book Title</a></h1>
                        <div class="ui two column grid">
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Author:</div>
                                <div class="ten wide left aligned column" id="borrowedbookdetails-author" style="font-weight: bolder;">
                                    John Doe</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">User:</div>
                                <div class="ten wide left aligned column" id="borrowedbookdetails-user"
                                    style="font-weight: bolder;">Jane Doe</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Date Borrowed:</div>
                                <div class="ten wide left aligned column" id="borrowedbookdetails-dateborrowed"
                                    style="font-weight: bolder;">04/29/2020</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Date Due:</div>
                                <div class="ten wide left aligned column" id="borrowedbookdetails-datedue"
                                    style="font-weight: bolder;">05/29/2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui grey basic cancel button">
                <i class="angle left icon"></i>
                Back
            </div>
            <div class="ui primary ok right button" id="button-returnbook">
                <i class="archive icon"></i>
                Return
            </div>
        </div>
    </div>
</body>
</html>